.select-city {
  position: relative;
  min-width: 200px;
}

.select-city h3 {
  border: 1px solid white;
  padding: 5px;
  margin-top: 50px;
}

.select-arrow-down-city {
  position: absolute;
  right: 12px;
  top: 67px;
  color: #9098a9;
  pointer-events: none;
}

.select-city select {
  -webkit-appearance: none;
  appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
  background: transparent;
  color: white;
}

.select-city select:required:invalid {
  color: white;
}

.sehirler option {
  color: antiquewhite;
  background: black;
  border: 1px solid #e8eaed;
}

.select-city select option[value=""][disabled] {
  display: none;
}

.select-city select:focus {
  outline: none;
  border-color: #4489f7;
  box-shadow: 0 0 0 2px rgba(#4489f7, 0.2);
}

.select-city select:hover + .select-arrow-down-city {
  color: #4489f7;
}
