.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-top: 1px white solid;
}

.social-icons {
  display: flex;
}

.social-icons a {
  font-size: 18px;
  text-decoration: none;
  border: 1px solid white;
  padding: 3px 23px 3px 23px;
  border-radius: 20px;
  color: white;
  transition: all 0.3s;
}

.social-icons a:hover {
  text-decoration: underline;
}

